<!-- Head -->
<head>
    {% load static %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,300,400,400i,700,700i"
          rel="stylesheet">
    <link href="{% static 'main/css/home.css' %}" rel="stylesheet">
</head>

<!-- Body-->
<body>
<!-- ======================================== !-->
<!-- This is the start of the Sidebar section -->
<!-- ======================================== !-->
<div class="row">
    <div class="col s3 m3 l1">
        <ul id="slide-out" class="sidenav sidenav-fixed">
            <!-- Card in sidebar -->
            <div class="card-panel red lighten 1" style="margin-top: 0">
                <br>
                <br>
                <br>
                <br>
                <div align="right"
                     style="font-family: 'IBM Plex Sans', sans-serif;font-size:40px;color:white;font-weight: lighter">
                    Brandon<strong>Haw</strong></div>
                <div align="right" style="font-family: 'IBM Plex Sans', sans-serif;font-size:15px;color:black;">
                    <ul style="margin:0 0 0 0; padding: 0">
                        <li style="margin:0 0 0 0; padding: 0">Data Science | AI | Deep Learning</li>
                        <li style="margin:0 0 0 0; padding: 0"></li>
                        <li style="margin:0 0 0 0; padding: 0"></li>
                    </ul>
                </div>
                <br>
                <br>
                <br>
            </div>

            <!-- Side bar menu items-->
            <li><a href="#profile"><i class="material-icons">portrait</i>Profile</a></li>
            <li><a href="#experience"><i class="material-icons">widgets</i>Experience</a></li>
            <li><a href="#education"><i class="material-icons">school</i>Education</a></li>
            <li><a href="#technologies"><i class="material-icons">desktop_windows</i>Technologies</a></li>
            <li><a href="#connect"><i class="material-icons">share</i>Connect</a></li>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
    <!-- ======================================== !-->
    <!-- THIS IS THE START OF THE PUSHPIN SECTIONS!-->
    <!-- ======================================== !-->
    <div class="col s12 m12 l11">

        <!-- Profile -->
        <div id="profile">
            <nav class="white" data-target="profile">
                <div class="nav-wrapper white">
                    <div class="container">
                        <a href="#" class="brand-logo center"
                           style="font-family: 'IBM Plex Sans', sans-serif;color:black;">Profile</a>
                    </div>
                </div>
            </nav>
            <main>
                <p>TEST</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </main>
        </div>

        <!--Experience -->
        <div id="experience">
            <nav class="white" data-target="experience">
                <div class="nav-wrapper white">
                    <div class="container">
                        <a href="#" class="brand-logo center"
                           style="font-family: 'IBM Plex Sans', sans-serif;color:black;">Experience</a>
                    </div>
                </div>
            </nav>
            <main>
                <p>TEST</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </main>
        </div>

        <!--Education -->
        <div id="education">
            <nav class="white" data-target="education">
                <div class="nav-wrapper white">
                    <div class="container">
                        <a href="#" class="brand-logo center" style="font-family: 'IBM Plex Sans', sans-serif;color:black;">Education</a>
                    </div>
                </div>
            </nav>
            <main>
                <p>TEST</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </main>
        </div>

        <!--Technologies -->
        <div id="technologies">
            <nav class="white" data-target="technologies">
                <div class="nav-wrapper white">
                    <div class="container">
                        <a href="#" class="brand-logo center" style="font-family: 'IBM Plex Sans', sans-serif;color:black;">Technologies</a>
                    </div>
                </div>
            </nav>
            <main>
                <p>TEST</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </main>
        </div>

        <!--Connect -->
        <div id="connect">
            <nav class="white" data-target="connect">
                <div class="nav-wrapper white">
                    <div class="container">
                        <a href="#" class="brand-logo center" style="font-family: 'IBM Plex Sans', sans-serif;color:black;">Connect</a>
                    </div>
                </div>
            </nav>
            <main>
                <p>TEST</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </main>
        </div>
    </div>

</div>

<!-- ======================================== !-->
<!-- THIS IS THE START OF THE FAB SECTION -->
<!-- ======================================== !-->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">contacts</i>
    </a>
    <ul>
        <li><a class="btn-floating red"><i class="fab fa-kaggle"></i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="fas fa-envelope-square"></i></a></li>
        <li><a class="btn-floating green"><i class="fab fa-github"></i></a></li>
        <li><a class="btn-floating blue"><i class="fab fa-linkedin"></i></a></li>
    </ul>
</div>

<!-- ======================================== !-->
<!-- Compiled and minified JavaScript -->
<!-- ======================================== !-->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    // Pushpin Demo Init
    if ($('.pushpin-demo-nav').length) {
        $('.pushpin-demo-nav').each(function () {
            var $this = $(this);
            var $target = $('#' + $(this).attr('data-target'));
            $this.pushpin({
                top: $target.offset().top,
                bottom: $target.offset().top + $target.outerHeight() - $this.height()
            });
        });
    }
</script>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.fixed-action-btn').floatingActionButton();
        $('.target').pushpin({
            top: 0,
            bottom: 1000,
            offset: 0
        });
    });
</script>

</body>

